body {
    background-color: lightblue;
    color:darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

h1 {
    font-weight: 800;
    text-align: center;
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
}

.box:nth-child(1){

    background-color: lightgreen;
    border-radius: 50%;

}

.box:nth-child(2){

    background-color: lightslategray;
    border: 10px solid black;
    box-sizing: border-box;
}

.box:nth-child(3){
    background: linear-gradient(to bottom, white 50%, red 50%);
}

.box:nth-child(1):hover{

    background-color: lightpink;
    border-radius: 50%;

}

.box:nth-child(2):hover{

    background-color: black;
    border: 10px solid lightslategray;
    box-sizing: border-box;
}

.box:nth-child(3):hover{
    background: linear-gradient(to bottom, red 50%, white 50%);
}

#challenge3 a {
    color: darkblue;
    text-decoration:underline;
}

#challenge3 a:visited {
    color: lightslategray;
}

#challenge3 a:hover {
    color: red;
    font-weight: bold;
}


#challenge3 ul {
    list-style: none;
    
}

.food-item::before {
    content: "🍔";
}

#challenge4 p:empty {
    display: none;
}

#challenge4 input:disabled {
    display: none;
}

#challenge4 a[href*="recipe"] {
    display: none;
}

#challenge5 img {
    min-width: 100px;
    max-width: 500px;
    width: 70%;

}

#challenge5 figcaption {
    font-size: 0.7 em;
}